.elementor-433 .elementor-element.elementor-element-b46a66e:not(.elementor-motion-effects-element-type-background),
.elementor-433 .elementor-element.elementor-element-b46a66e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #323232;
}

.elementor-433 .elementor-element.elementor-element-b46a66e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-433 .elementor-element.elementor-element-b46a66e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-433 .elementor-element.elementor-element-27912a4.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-433 .elementor-element.elementor-element-27912a4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu .elementor-item {
    font-family: "Jost", Sans-serif;
    font-weight: 600;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main .elementor-item {
    color: white;
    fill: #181818;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main .elementor-item:hover,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main .elementor-item:focus {
    color: #181818;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #F4F4F4;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .e--pointer-framed .elementor-item:before,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .e--pointer-framed .elementor-item:after {
    border-color: #F4F4F4;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #181818;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-433 .elementor-element.elementor-element-c93b9b9 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #181818;
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 5px / 2);
}

.elementor-433 .elementor-element.elementor-element-c93b9b9 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 5px;
}

.elementor-433 .elementor-element.elementor-element-64eb042 .elementor-button {
    background-color: #000000;
}

.elementor-433 .elementor-element.elementor-element-64eb042>.elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 12px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-433 .elementor-element.elementor-element-64eb042>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-433 .elementor-element.elementor-element-4edd5a6 {
        width: 13.908%;
    }
    .elementor-433 .elementor-element.elementor-element-27912a4 {
        width: 71.565%;
    }
    .elementor-433 .elementor-element.elementor-element-d6bd906 {
        width: 14.527%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-433 .elementor-element.elementor-element-27912a4 {
        width: 66%;
    }
}

@media(max-width:767px) {
    .elementor-433 .elementor-element.elementor-element-64eb042>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}