.elementor-478 .elementor-element.elementor-element-18aecb7 {
    padding: 40px 20px 40px 20px;
}

.elementor-478 .elementor-element.elementor-element-0961d2b {
    text-align: center;
}

.elementor-478 .elementor-element.elementor-element-0961d2b .elementor-heading-title {
    color: #181818;
    font-family: "Jost", Sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.elementor-478 .elementor-element.elementor-element-8f7e53e {
    text-align: center;
}

.elementor-478 .elementor-element.elementor-element-8f7e53e .elementor-heading-title {
    color: #181818;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.elementor-478 .elementor-element.elementor-element-1efd386 {
    text-align: center;
}

.elementor-478 .elementor-element.elementor-element-1efd386 .elementor-heading-title {
    color: #181818;
    font-family: "Jost", Sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.elementor-478 .elementor-element.elementor-element-ec282b2 {
    text-align: center;
}

.elementor-478 .elementor-element.elementor-element-ec282b2 .elementor-heading-title {
    color: #181818;
    font-family: "Jost", Sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.elementor-478 .elementor-element.elementor-element-8353c07 {
    --spacer-size: 20px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-478 .elementor-element.elementor-element-75ae984 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-478 .elementor-element.elementor-element-75ae984 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-478 .elementor-element.elementor-element-75ae984 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-color: #CED4DA;
    border-radius: 0px 0px 0px 0px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-color: #CED4DA;
    border-radius: 0px 0px 0px 0px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-field-group .elementor-select-wrapper::before {
    color: #CED4DA;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .e-form__buttons__wrapper__button-next {
    background-color: #111111;
    color: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-button[type="submit"] {
    background-color: #111111;
    color: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-478 .elementor-element.elementor-element-75ae984 .elementor-button {
    border-radius: 0px 0px 0px 0px;
}

.elementor-478 .elementor-element.elementor-element-75ae984 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

#elementor-popup-modal-478 .dialog-message {
    width: 480px;
    height: auto;
}

#elementor-popup-modal-478 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-478 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-478 .dialog-widget-content {
    animation-duration: 1.2s;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}