.elementor-610 .elementor-element.elementor-element-99d6b20>.elementor-background-overlay {
    background-color: #CCCCCC;
    opacity: 0.5;
}

.elementor-610 .elementor-element.elementor-element-99d6b20 {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-610 .elementor-element.elementor-element-280d52d.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-610 .elementor-element.elementor-element-280d52d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-610 .elementor-element.elementor-element-280d52d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-610 .elementor-element.elementor-element-280d52d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #AE8625 0%, #F7EF8A 100%);
}

.elementor-610 .elementor-element.elementor-element-280d52d>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-610 .elementor-element.elementor-element-280d52d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-610 .elementor-element.elementor-element-4dd55b6>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-610 .elementor-element.elementor-element-0e95950>.elementor-element-populated {
    padding: 10px 10px 10px 10px;
}

.elementor-610 .elementor-element.elementor-element-bef9fa0 {
    text-align: center;
}

.elementor-610 .elementor-element.elementor-element-bef9fa0 .elementor-heading-title {
    color: #000000;
    font-family: "Jost", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-610 .elementor-element.elementor-element-bef9fa0>.elementor-widget-container {
    margin: 45px 0px 0px 0px;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group>label,
.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-subgroup label {
    color: #3A3A3A;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group>label {
    font-family: "Lexend", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-type-html {
    padding-bottom: 0px;
    color: #7A7A7A;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-color: #D8D8D8;
    border-width: 1px 1px 1px 1px;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-color: #D8D8D8;
    border-width: 1px 1px 1px 1px;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-field-group .elementor-select-wrapper::before {
    color: #D8D8D8;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-button {
    font-family: "Lexend", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .e-form__buttons__wrapper__button-next {
    background-color: #181818;
    color: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-button[type="submit"] {
    background-color: #181818;
    color: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-610 .elementor-element.elementor-element-2e2ef33 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

#elementor-popup-modal-610 .dialog-message {
    width: 640px;
    height: auto;
}

#elementor-popup-modal-610 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-610 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-610 .dialog-widget-content {
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-610 .elementor-element.elementor-element-bef9fa0 .elementor-heading-title {
        font-size: 25px;
    }
}

@media(min-width:768px) {
    .elementor-610 .elementor-element.elementor-element-280d52d {
        width: 50%;
    }
    .elementor-610 .elementor-element.elementor-element-0e95950 {
        width: 50%;
    }
}